@font-face {
  font-family: "inter";
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 1366px;
  min-height: 100%;
  margin: 0;

  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565c66;
}

.body-strawberry {
  background-color: #feafc3;
}

.body-banana {
  background-color: #69a9ff;
}

.body-caramel {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

/* button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;

  border: none;
  border-radius: 26px;

  cursor: pointer;
}

.button-primary {
  padding: 12px 32px;

  color: #2d3440;

  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.40);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button-secondary {
  padding: 12px 32px;

  color: #fcfcfc;

  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

/* input */

.input::placeholder {
  font-size: 16px;
  color: #b9b9b9;
}


/* description */

.description-xs {
  font-size: 12px;
  line-height: 16px;
}

.description-s {
  font-size: 14px;
  line-height: 20px;
}

.description-bold {
  font-weight: 700;
}

/* link */

.link {
  font-style: normal;
  color: #2d3440;
  text-decoration: none;
}

/* liss */

.list {
  margin: 0;
  padding: 0;
}

/* text */

.text {
  margin: 0;

  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565c66;
}

.text-s {
  line-height: 20px;
}

.text-m {
  color: #2d3440;
}

.text-l {
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.text-bold {
  font-weight: 700;
}

/* title */

.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  color: #2d3440;
}

.title-s {
  font-size: 18px;
}

.title-m {
  font-size: 20px;
  line-height: 24px;
}

.title-l {
  font-size: 24px;
  line-height: 30px;
}

.title-xl {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.title-xxl {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

/* header */

.index-header {
  display: grid;
  grid-template-columns: 137px 1fr;
  column-gap: 16px;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}

.index-nav {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.navigation-list:first-child .navigation-item {
  padding: 8px 16px;
}

.navigation-list:last-child {
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.phone-link {
  line-height: 20px;
  font-weight: 700;
}

.button-menu {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.30);
  border-radius: 30px;
}

/* footer */

.index-footer {
  width: 1170px;
  margin: 0 auto;
}

.footer-description-link {
  color: #2d3440;
}


/* main */

.index-main {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: repeat(7, auto);
  column-gap: 30px;
  row-gap: 80px;
  width: 1170px;
  margin: 0 auto;
}

/* slider */

.slider {
  grid-area: 1/-1;
  grid-column: 1/-1;
}

.slider-description {
  margin: 0;
}

/* gift */

.gift {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: repeat(2, auto);
  column-gap: 30px;
  row-gap: 55px;
  grid-column: 1/-1;

}

.title-gift {
  grid-column: 1/-1;
  width: 435px;
  margin: 0 auto;

  text-align: center;
}

.gift-wrapper {
  display: flex;
  align-items: center;

  background-color: #ff7799;
  border-radius: 16px;
}

.gift-wrapper:first-of-type {
  grid-column: 1/2;
}

.gift-wrapper:last-of-type {
  grid-column: 2/-1;
}

.gift-wrapper-description {
  display: grid;
  row-gap: 28px;
  margin: 36px 0 36px 36px;
}

.gift-description {
  margin: 0;
}

.gift-img {
  justify-self: flex-end;
  align-self: flex-end;
}

.button-gift {
  width: 176px;
}

/* products */

.products {
  display: grid;
  gap: 107px;
  grid-column: 1/-1;
}

.products-title {
  grid-column: 1/-1;
  width: 530px;
  margin: 0 auto;

  text-align: center;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
}

.products-item {
  position: relative;

  display: grid;
  grid-template-columns: 150px 32px;
  column-gap: 8px;
  width: 270px;
  padding: 0 40px 28px;

  background-color: #fcfcfc;
  border-radius: 8px;
}

.img-products {
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translateX(-50%);
}

.products-card-title {
  grid-column: 1/-1;
  margin: 133px 0 8px;

  text-align: center;
}

.products-description {
  grid-column: 1/-1;
  margin: 0 0 20px;

  text-align: center;
}

.product-price {
  align-self: center;
}

.button-basket {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 26px;
}

/* advantages */

.advantages {
  grid-column: 1/-1;
  padding: 24px;

  background-image: url("../images/background/waffle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.advantages-wrapper {
  padding: 56px 40px;

  background-color: #ffffff;
  border-radius: 16px;
}

.title-advantages {
  margin-bottom: 56px;

  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 505px);
  column-gap: 32px;
  row-gap: 40px;
}

.advantages-item {
  margin-left: 64px;
}

/* news */

.news {
  grid-column: 1/2;
  padding: 32.6px 0 67.2px 32px;
  min-height: 224px;

  background-image: url("../images/background/serving.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.link-news {
  display: block;
  width: 305px;
}

.news-title {
  margin-bottom: 12.2px;
}

/* subscribe */

.subscribe {
  grid-column: 2/-1;
  padding: 6px;

  background-image: url("../images/background/mail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-wrappper {
  height: 100%;
  padding: 26px;

  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe-description {
  margin: 0 0 42px;
}

.form-subscribe-label {
  display: flex;
  justify-content: space-between;
}

/* delivery */

.delivery {
  display: grid;
  grid-template-columns: 400px 500px;
  grid-template-rows: min-content;
  column-gap: 106px;
  row-gap: 24px;

  padding: 64px 64px 64px 100px;
  grid-column: 1/-1;

  background-image: url("../images/background/delivery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.title-delivery {
  align-self: flex-end;
}

.delivery-description {
  grid-column: 1/2;
  margin: 0;
}

.form-delivery {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 40px 40px 42px;

  background-color: #fcfcfc;
  border-radius: 8px;
}

.form-description {
  grid-column: 1/-1;
  margin: 0 0 12px;
}

.form-wrapper:nth-of-type(1) {
  grid-column: 1/2;
}

.form-wrapper:nth-of-type(3) {
  grid-column: 1/-1;
  margin-bottom: 12px;
}

.form-title {
  display: block;
  margin-bottom: 8px;
}

.input-delivery {
  width: 100%;
}

.button-delivery {
  grid-column: 1/-1;
  margin: 0 auto;
  min-width: 152px;
}

/* about-us */

.about-us {
  grid-column: 1/-1;

  background-image: url("../images/background/contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.about-us-wrapper {
  padding: 40px;

  font-style: normal;

  background-color: #fcfcfc;
  border-radius: 8px;

}

/* catalog-main */

.catalog-main {
  width: 1170px;
  margin: 0 auto;
}

/* breadcrumbs */

.catalog-header {
  margin-bottom: 40px;
}

.breadcrumbs-link_active {
  border-bottom: 1px solid #2d3440;
}

/* filters */

.filters {
  margin-bottom: 95px;
}

.filters-text {
  color: #2d3440;
}

/* pagination */

.control-products-wrapper {
  margin: 16px 0 40px;
  padding: 41px 98px;
}

.pagination-link_active {
  background-color: #fcfcfc;
  border-radius: 50px;
}
