@font-face {
  font-family: "inter";
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  min-width: 1366px;

  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565c66;
}

.body-strawberry {
  background-color: #feafc3;
}

.body-banana {
  background-color: #69a9ff;
}

.body-caramel {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;

  border: none;
  border-radius: 26px;

  cursor: pointer;
}

.button-primary {
  color: #2d3440;

  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.40);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button-secondary {
  color: #ffffff;

  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

/* input */

.input::placeholder {
  font-size: 16px;
  color: #b9b9b9;
}


/* description */

.description-xs {
  font-size: 12px;
  line-height: 16px;
}

.description-s {
  font-size: 14px;
  line-height: 20px;
}

.description-bold {
  font-weight: 700;
}

/* link */

.link {
  font-style: normal;
  color: #2d3440;
  text-decoration: none;
}

/* text */

.text {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #565c66;
}

.text-s {
  line-height: 20px;
}

.text-m {
  color: #2d3440;
}

.text-l {
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.text-bold {
  font-weight: 700;
}

/* title */

.title {
  font-weight: 700;
  color: #2d3440;
}

.title-s {
  font-size: 18px;
}

.title-m {
  font-size: 20px;
  line-height: 24px;
}

.title-l {
  font-size: 24px;
  line-height: 30px;
}

.title-xl {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.title-xxl {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

/* header */

.phone-link {
  line-height: 20px;
  font-weight: 700;
}

.button-menu {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;

  background-color: #fcfcfc;
  border-radius: 30px;
}

/* footer */

.footer-description-link {
  color: #2d3440;
}

/* gift */

.gift-wrapper {
  background-color: #ff7799;
  border-radius: 16px;
}

/* about-us */

.about-us-wrapper {
  font-style: normal;
}

/* breadcrumbs */

.breadcrumbs-link_active {
  border-bottom: 1px solid #2d3440;
}

/* filters */

.filters-text {
  color: #2d3440;
}

/* pagination */

.pagination-link_active {
  background-color: #ffffff;
  border-radius: 50px;
}
