*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-strawberry {
  background-color: #feafc3;
}

.body-banana {
  background-color: #69a9ff;
}

.body-caramel {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
